name: Check Pull Request

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - edited
      - reopened
      - synchronize
      - ready_for_review
      
permissions:
  id-token: write
  contents: read
  pull-requests: write
  repository-projects: read
  packages: read

jobs:
  pr-validator:
    name: Run Pull Request Checks
    runs-on: ubuntu-latest
    steps:   
      - name: Check out code
        uses: actions/checkout@v6
      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            9.0
      - name: Update NuGet.config
        run: |
          dotnet nuget remove source defra --configfile ./NuGet.config
          dotnet nuget add source --username USERNAME --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text --name defra "https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json" --configfile ./NuGet.config
#      Remove this running of docker compose once E2E tests have been updated and/or moved to the IntegrationTests project
      - name: Run docker-compose
        uses: hoverkraft-tech/compose-action@v2.5.0
        with:
          compose-file: "./compose.yml"
      - name: Test
        run: dotnet test --filter "Category!=IntegrationTest"
      - name: Run integration tests
        run: |
          docker compose up -d
          dotnet test --filter "Category=IntegrationTest"
      - name: Docker Compose Logs
        if: always()
        run: |
          docker compose logs
      - name: Check Dockerfile Builds
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
        with:
          context: .
          file: ./Dockerfile
          push: false
          tags: btms-gateway:latest
      - name: Check with Trivy
        run: docker run -v /var/run/docker.sock:/var/run/docker.sock aquasec/trivy image btms-gateway:latest --ignore-unfixed
  sonarcloud-scan:
    name: CDP SonarCloud Scan
    uses: ./.github/workflows/sonarcloud.yml
    needs: pr-validator
    secrets: inherit
